* {
  box-sizing: border-box;
}

.r-editor {
  position: relative;

  &.preview-on {
    .r-preview, .r-split-bar  {
      display: block;
    }
  }

  &.position-top {
    .r-preview {
      padding: 5px;
      border-top: none;
    }

    .r-content {
      border: 1px solid #ccc;
    }
  }

  &.position-right {

    .r-preview {
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 5px 5px 5px 10px;
      border-top: none;
    }
    .r-split-bar {
      position: absolute;
      margin: 0;
      top: 0px;
      z-index: 10;
    }
    .r-content{
      position: absolute;
      left: 0px;
      top: 0px;      
      border-top: none;
    }
  }


  .btn {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px 7px;
    min-width: 60px;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    margin-left: 5px;
    outline: none;
  }

  .r-header {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background-color: #f6f7f8;
    font-size: 13px; 
    height: 40px;

    .r-help {
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      float: left;
      a {
        color: #222;

        svg {
          vertical-align: text-bottom;
          margin-right: 5px;
        }
      }
    }

    .r-toolbar {
      padding: 5px;
      height: 40px;
      float: right;
    }
  }

  .r-wrap {
    position: relative;
  }

  .r-preview {
    display: none;
    border: 1px solid #ccc;
    //background-color: antiquewhite;
    overflow: scroll;
  }

  .r-split-bar {
    display: none;
    background-color: #ccc;
    height: 4px;
    cursor: pointer;
    margin: 2px 0;

    &:hover {
      background-color: #222;
    }
  }

  .r-content {
    position: absolute;
    left: 0px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;

    textarea {
      border: none;
      font-size: 14px;
      padding: 10px;
      outline: none;
      resize: none;
    }  
  } 
}


@media screen and (max-width: 500px) /* Mobile */ {
  .r-editor {
    .r-header .r-help {
      display: none;
    }
  }
}

@import 'markdown.less';